click==8.4.2
dash==4.1.0
eodhd==1.0.32
json_repair==0.61.7
loguru==0.7.3
numpy==2.5.1
ollama==0.6.2
pandas==3.0.5
plotly==6.9.0
psycopg==3.3.4
psycopg_pool==3.3.1
pypandoc==1.17
Requests==2.34.2
rich==15.0.0
SQLAlchemy==2.0.51
